.content-grey-font {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(1, 1, 1, 0.55);
  white-space: pre-wrap;
}

.no-decoration-black-text {
  text-decoration: none;
  color: black !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-title-font {
  font-size: 1.125em;
  font-weight: 600;
  color: black;
}

.user-detail-header-font {
  font-size: 16px;
  font-weight: 600;
}
.user-detail-content-font {
  font-size: 15px;
}
